<style>
    body {
        color: purple;
    }
</style>


<h1>You fell in love with <%=thingVar.toUpperCase()%></h1>
<% if(thingVar.toLowerCase() === "rusty") { %>
    <p>GOOD CHOICE</p>
<% } else {%>
    <p>You should have said RUSTY</p>
<%    }  %> 


<p>You feel in love</p>